@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }

  .benefits-item {
    width: 194px;
    padding: 20px 36px;
  }

  .benefits-item > span {
    font-size: 42px;
  }

  .benefits-item-text {
    font-size: 11px;
  }
}
